In [5]:
#Run the following command to access the Kaggle API using the command line: 
pip install kaggle

Collecting kaggle
  Downloading kaggle-1.6.14.tar.gz (82 kB)
Requirement already satisfied: six>=1.10 in c:\users\amrut\anaconda3\lib\site-packages (from kaggle) (1.16.0)
Collecting certifi>=2023.7.22
  Downloading certifi-2024.2.2-py3-none-any.whl (163 kB)
Requirement already satisfied: python-dateutil in c:\users\amrut\anaconda3\lib\site-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in c:\users\amrut\anaconda3\lib\site-packages (from kaggle) (2.27.1)
Requirement already satisfied: tqdm in c:\users\amrut\anaconda3\lib\site-packages (from kaggle) (4.64.0)
Requirement already satisfied: python-slugify in c:\users\amrut\anaconda3\lib\site-packages (from kaggle) (5.0.2)
Requirement already satisfied: urllib3 in c:\users\amrut\anaconda3\lib\site-packages (from kaggle) (1.26.9)
Requirement already satisfied: bleach in c:\users\amrut\anaconda3\lib\site-packages (from kaggle) (4.1.0)
Requirement already satisfied: webencodings in c:\users\amrut\anaconda3\lib\site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: packaging in c:\users\amrut\anaconda3\lib\site-packages (from bleach->kaggle) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\amrut\anaconda3\lib\site-packages (from packaging->bleach->kaggle) (3.0.4)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\amrut\anaconda3\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<4,>=2.5 in c:\users\amrut\anaconda3\lib\site-packages (from requests->kaggle) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\amrut\anaconda3\lib\site-packages (from requests->kaggle) (2.0.4)
Requirement already satisfied: colorama in c:\users\amrut\anaconda3\lib\site-packages (from tqdm->kaggle) (0.4.4)
Building wheels for collected packages: kaggle
  Building wheel for kaggle (setup.py): started
  Building wheel for kaggle (setup.py): finished with status 'done'
  Created wheel for kaggle: filename=kaggle-1.6.14-py3-none-any.whl size=105136 sha256=85dce4f185a8d1244085213fbb89804c235c3545fdfdc5b4072181325f246f94
  Stored in directory: c:\users\amrut\appdata\local\pip\cache\wheels\23\f1\ec\3f9079ada5cc1218f9accf05ccca9f0a57533191e49d76e3f6
Successfully built kaggle
Installing collected packages: certifi, kaggle
  Attempting uninstall: certifi
    Found existing installation: certifi 2021.10.8
    Uninstalling certifi-2021.10.8:
      Successfully uninstalled certifi-2021.10.8
Successfully installed certifi-2024.2.2 kaggle-1.6.14
Note: you may need to restart the kernel to use updated packages.

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
conda-repo-cli 1.0.4 requires pathlib, which is not installed.

In [1]:
#generate an authentication token on kaggle website 
import kaggle

In [1]:
!kaggle datasets download ankitbansal06/retail-orders -f orders.csv

Dataset URL: https://www.kaggle.com/datasets/ankitbansal06/retail-orders
License(s): CC0-1.0
Downloading orders.csv.zip to C:\Users\amrut\OneDrive\Documents\ETL_Project

  0%|          | 0.00/200k [00:00<?, ?B/s]
100%|##########| 200k/200k [00:00<00:00, 3.56MB/s]

In [2]:
#unzip the dataset

!unzip C:\Users\amrut\OneDrive\Documents\ETL_Project\orders.csv.zip

'unzip' is not recognized as an internal or external command,
operable program or batch file.

In [3]:
import zipfile


zip_ref=zipfile.ZipFile('orders.csv.zip')
zip_ref.extractall() #extracts file to dir
zip_ref.close() #closes file

In [72]:
#lets explore data

import pandas as pd
orders_df=pd.read_csv('orders.csv')
orders_df

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent
0,1,3/1/2023,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,8/15/2023,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,1/10/2023,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,6/18/2022,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,7/13/2022,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2/18/2023,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4
9990,9991,3/17/2023,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4
9991,9992,8/7/2022,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2
9992,9993,11/19/2022,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3
9993,9994,7/17/2022,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3

In [73]:
#to check the size of the data

orders_df.shape

#It has 16 columns and 9994 rows

(9994, 16)

In [74]:
#lets check the data types
orders_df.dtypes

Order Id             int64
Order Date          object
Ship Mode           object
Segment             object
Country             object
City                object
State               object
Postal Code          int64
Region              object
Category            object
Sub Category        object
Product Id          object
cost price           int64
List Price           int64
Quantity             int64
Discount Percent     int64
dtype: object

In [75]:
#lets check for data quality issues

orders_df.isna().sum()

Order Id            0
Order Date          0
Ship Mode           1
Segment             0
Country             0
City                0
State               0
Postal Code         0
Region              0
Category            0
Sub Category        0
Product Id          0
cost price          0
List Price          0
Quantity            0
Discount Percent    0
dtype: int64

In [76]:
orders_df.columns
# column names have space in between them which is not a good practice. Lets us replace space with '_' using a lambda function

orders_df.columns = orders_df.columns.map(lambda x: x.lower().replace(" ","_"))
orders_df.columns

Index(['order_id', 'order_date', 'ship_mode', 'segment', 'country', 'city',
       'state', 'postal_code', 'region', 'category', 'sub_category',
       'product_id', 'cost_price', 'list_price', 'quantity',
       'discount_percent'],
      dtype='object')

In [77]:
#is the data in a standard format?

#lets explore categorical values.

# unique_val=pd.unique(orders_df[['Ship Mode','Segment','City','State','Category','Sub Category']].values.ravel('K'))
print(orders_df['ship_mode'].unique())
print(orders_df['segment'].unique())
print(orders_df['state'].unique())
print(orders_df['category'].unique())
print(orders_df['sub_category'].unique())

['Second Class' 'Standard Class' 'Not Available' 'unknown' 'First Class'
 nan 'Same Day']
['Consumer' 'Corporate' 'Home Office']
['Kentucky' 'California' 'Florida' 'North Carolina' 'Washington' 'Texas'
 'Wisconsin' 'Utah' 'Nebraska' 'Pennsylvania' 'Illinois' 'Minnesota'
 'Michigan' 'Delaware' 'Indiana' 'New York' 'Arizona' 'Virginia'
 'Tennessee' 'Alabama' 'South Carolina' 'Oregon' 'Colorado' 'Iowa' 'Ohio'
 'Missouri' 'Oklahoma' 'New Mexico' 'Louisiana' 'Connecticut' 'New Jersey'
 'Massachusetts' 'Georgia' 'Nevada' 'Rhode Island' 'Mississippi'
 'Arkansas' 'Montana' 'New Hampshire' 'Maryland' 'District of Columbia'
 'Kansas' 'Vermont' 'Maine' 'South Dakota' 'Idaho' 'North Dakota'
 'Wyoming' 'West Virginia']
['Furniture' 'Office Supplies' 'Technology']
['Bookcases' 'Chairs' 'Labels' 'Tables' 'Storage' 'Furnishings' 'Art'
 'Phones' 'Binders' 'Appliances' 'Paper' 'Accessories' 'Envelopes'
 'Fasteners' 'Supplies' 'Machines' 'Copiers']

In [78]:
#We see that the values in Ship Mode are not standardized. They have values like Not available, unknown.
#let us standardize these values

orders_df['ship_mode'].unique()

array(['Second Class', 'Standard Class', 'Not Available', 'unknown',
       'First Class', nan, 'Same Day'], dtype=object)

In [79]:
#lets replace 'Not available' and 'unkown' to 'Not available'

orders_df['ship_mode']= orders_df['ship_mode'].replace(['Not Available','unknown'],'Not Available')
orders_df['ship_mode'].unique()

array(['Second Class', 'Standard Class', 'Not Available', 'First Class',
       nan, 'Same Day'], dtype=object)

In [80]:
# lets fetch the record for which shiop mode is missing

orders_df[orders_df['ship_mode'].isna()]

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent
118,119,7/19/2023,NaN,Corporate,United States,Bristol,Tennessee,37620,South,Office Supplies,Binders,OFF-BI-10003650,140,160,1,5

In [81]:
#steps I took to fill missing info
# Checked what other records in Tennesse, Bristol have as the ship mode for corporate segment
# other records had "standard class" as the shipment record. So filled the N/A with "Standard class" 

fill_value='Standard class'
orders_df['ship_mode']=orders_df['ship_mode'].fillna(fill_value)

orders_df[orders_df['ship_mode'].isna()]

#Missing values have been handled

Empty DataFrame
Columns: [order_id, order_date, ship_mode, segment, country, city, state, postal_code, region, category, sub_category, product_id, cost_price, list_price, quantity, discount_percent]
Index: []

In [82]:
#Lets derive columns like discount, sale price and profit.

#1. Discount 

orders_df['discount']=orders_df['list_price']*(orders_df['discount_percent']/100) # or multiply by 0.01
orders_df.head()

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discount
0,1,3/1/2023,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2
1,2,8/15/2023,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9
2,3,1/10/2023,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.5
3,4,6/18/2022,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,19.2
4,5,7/13/2022,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,1.0

In [85]:
#2. Sale price

orders_df['sale_price']=orders_df['list_price']-orders_df['discount']
orders_df.head()

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discount,sale_price
0,1,3/1/2023,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2,254.8
1,2,8/15/2023,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9,708.1
2,3,1/10/2023,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.5,9.5
3,4,6/18/2022,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,19.2,940.8
4,5,7/13/2022,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,1.0,19.0

In [89]:
#3. Profit

orders_df['profit']=orders_df['sale_price']-orders_df['cost_price']
orders_df.head()

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discount,sale_price,profit
0,1,3/1/2023,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2,254.8,14.8
1,2,8/15/2023,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9,708.1,108.1
2,3,1/10/2023,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.5,9.5,-0.5
3,4,6/18/2022,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,19.2,940.8,160.8
4,5,7/13/2022,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,1.0,19.0,-1.0

In [107]:
# we have to convert datatype of date to datetime. Currently it is in string format

#pd.to_datetime(orders_df['order_date'], format="%Y-%m-%d")

#got an error because the date column in excel sheet is in mm-dd-yy format.
import datetime
#orders_df['order_date'].dt.strftime('%Y%m%d')



orders_df['order_date'] = pd.to_datetime(orders_df['order_date'], format='%Y-%m-%d')
orders_df.head()
orders_df.dtypes

order_id                     int64
order_date          datetime64[ns]
ship_mode                   object
segment                     object
country                     object
city                        object
state                       object
postal_code                  int64
region                      object
category                    object
sub_category                object
product_id                  object
cost_price                   int64
list_price                   int64
quantity                     int64
discount_percent             int64
discount                   float64
sale_price                 float64
profit                     float64
dtype: object

In [113]:
# Now that we have derived the columns required for oyr analysis, let us drop the columns which are not required.

#orders_df.drop(columns=['list_price','cost_price','discount_percent'],inplace=True)
orders_df.columns

Index(['order_id', 'order_date', 'ship_mode', 'segment', 'country', 'city',
       'state', 'postal_code', 'region', 'category', 'sub_category',
       'product_id', 'quantity', 'discount', 'sale_price', 'profit'],
      dtype='object')

In [148]:
#Now lets load data into postgresql server
# import pandas as pd
# import psycopg2
# import sqlalchemy
# from sqlalchemy import create_engine

# # sqlalchemy.__version__


# # Host = 'localhost'
# # port_id = '5432'
# # username='postgres'
# # db_name = 'orders'
# # pwd= 'Omsairam123@'


# # conn= psycopg2.connect(

# # host= Host,
# # dbname = db_name,
# # user = username,
# # password = pwd,
# # port = port_id)


# engine = create_engine('postgresql://postgres:Omsairam123\@@localhost/orders')
engine = create_engine('postgresql://postgres:Omsairam123%40@localhost:5432/orders')
conn= engine.connect()

# %load_ext sql
# %sql postgresql://postgres:Omsairam123%40@localhost:5432/orders

In [155]:
#load the data to sql


orders_df.to_sql('df_orders',con=conn, index =False, if_exists='append')
conn.commit()